In [3]:
print("Hello world")

Hello world

In [7]:
x =2
y =3

In [9]:
x + y

5

In [11]:
x + y
x - y

-1

In [13]:
print(x + y)
x - y

5

-1

In [15]:
mynums = [1, 2, 3, 4, 5]
mynums

[1, 2, 3, 4, 5]

In [17]:
for n in mynums:
    print(n+1)

2
3
4
5
6

In [22]:
mynums?

Type:        list
String form: [1, 2, 3, 4, 5]
Length:      5
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [26]:
len?

Signature: len(obj, /)
Docstring: Return the number of items in a container.
Type:      builtin_function_or_method

In [28]:
import pandas as pd

In [30]:
pd.DataFrame(mynums)

   0
0  1
1  2
2  3
3  4
4  5

In [32]:
mynums.sort(reverse=True)
mynums

[5, 4, 3, 2, 1]

In [34]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [36]:
x = 1+1
y = 1-1
z = x/y

ZeroDivisionError: division by zero

In [38]:
%debug

> /var/folders/xw/4_chkj0n4w58bfhrx_pb57pm0000gn/T/ipykernel_55270/1746220672.py(3)<module>()
      1 x = 1+1
      2 y = 1-1
----> 3 z = x/y

ipdb>  x

2

ipdb>  y

0

ipdb>  exit()